{% extends '@np-admin/panel_2col.twig' %}

{% block panel_nav %}Blog{% endblock %}

{% block panel_actions %}
    <div class="btn-group">
        <a href="#" class="btn btn-default">View Blog</a>
        <a href="{{ path('admin_blog_settings') }}" class="btn btn-default">Blog Settings</a>
        <a href="{{ path('admin_blog_new_post') }}" class="btn btn-primary">{{ font_icon('plus-circle') }} Add Post</a>
    </div>
{% endblock %}

{% block column_1 %}
    <h2>Drafts</h2>
    <form id="new_post" role="form">
        <div class="form-group">
            <input id="np_new_post_title" type="text" class="form-control" placeholder="Start a draft…">
        </div>
    </form>
    <ul class="list-unstyled np_post_list">
        {% for draft in drafts %}
            <li><a href="{{ path('admin_blog_edit_post', {post: draft.id}) }}">{{ draft.title }}</a></li>
        {% else %}
            <li>No drafts.</li>
        {% endfor %}
    </ul>

    {% if drafts_page_count > 1 %}
        <ul class="pagination pagination-sm">
            {% for page in 1..drafts_page_count %}
                <li{% if page == page_number %} class="active"{% endif %}>
                    <a href="{{ path('admin_blog_drafts', {page: page}) }}">{{ page }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

{% block column_2 %}
    <h2>Published</h2>
    <ul class="list-unstyled np_post_list">
        {% for post in posts %}
            <li><a href="{{ path('admin_blog_edit_post', {post: post.id}) }}">{{ post.title }}</a></li>
        {% else %}
            <li>No published posts.</li>
        {% endfor %}
    </ul>

    {% if published_page_count > 1 %}
        <ul class="pagination pagination-sm">
            {% for page in 1..published_page_count %}
                <li{% if page == page_number %} class="active"{% endif %}>
                    <a href="{{ path('admin_blog_posts', {page: page}) }}">{{ page }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}