{% extends '@np-admin/panel.twig' %}

{% if draft %}
    {% set page_name = 'Edit Draft' %}
    {% set form_action = path('admin_blog_post_posts') %}
{% else %}
    {% set page_name = 'Edit Post' %}
    {% set form_action = path('admin_blog_update_post', {post: post.id}) %}
{% endif %}

{% block panel_nav %}
    {{ panel_nav([{name: 'Blog', uri: path('admin_blog')}, {name: page_name}]) }}
{% endblock %}

{% block panel_content %}

    <form action="{{ form_action }}" role="form">

        <div class="form-group">
            {{ form_widget(form.title, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Enter a post title…'}}) }}
        </div>
        
        <div class="form-group">
            <a href="#" class="btn btn-default btn-sm -np_fullscreen">{{ font_icon('expand') }}</a>
            {{ form_widget(form.rawContent, {'attr': {'class': 'form-control', 'placeholder': 'Click here to begin typing…'}}) }}
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.tags) }}
                    {{ form_widget(form.tags, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="form-group">
                    {{ form_label(form.slug) }}
                    {{ form_widget(form.slug, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            
            <div class="col-md-6">
                {% if draft  %}
                    <h3>Draft</h3>
                {% else %}
                    <h3>Published <small>{{ post.timestamp|date('F j, Y') }}</small></h3>
                {% endif %}
            </div>
        </div>
        
        <div class="np_form_actions">
            <a href="#" class="btn btn-default">{{ font_icon('eye') }} Preview</a>
            <a href="{{ path('admin_blog') }}" class="btn btn-default">Cancel</a>
            <input type="submit" name="save" class="btn btn-primary" value="Save" />
            {% if draft  %}
                <input type="submit" name="publish" class="btn btn-primary" value="Save &amp; Publish" />
            {% endif %}
        </div>
        {{ form_rest(form) }}
    </form>
{% endblock %}