{% extends '@np-admin/panel.twig' %}

{% block panel_nav %}Sites{% endblock %}

{% block panel_actions %}
    <div class="btn-group">
        <a href="{{ path('admin_sites_new_site') }}" class="btn btn-primary">{{ font_icon('plus-circle') }} Add Site</a>
    </div>
{% endblock %}

{% block panel_content %}
    <ul>
        {% for site in sites %}
            <li>
                <a href="{{ path('admin_site', {site: site.hostName}) }}">{{ site.title }} ({{ site.hostName }})</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}