<!-- START of NodePub Toolbar -->
<div id="np_admin" class="np_admin">
    <div id="np_toolbar_container" class="container">
        <div id="np_toolbar" class="row">
            <div id="np_icons" class="np_icons col-md-8 col-md-offset-1" data-icon-group-count="{{toolbar|length}}">
                <ul>
                    {% if toolbar|length > 1 %}
                        <li class="np_icons_prev np_icon_disabled">
                            <a href="#"  class="-np_prev">{{ font_icon('chevron-left', 'fa-2x') }}</a>
                        </li>
                    {% endif %}
                    {% for icon_group in toolbar %}
                        {% set group_index = loop.index %}
                        {% for item in icon_group %}
                            <li class="{{ item.slug }}{% if group_index > 1  %} np_icon_hide{% endif %}" data-icon-group="{{group_index}}">
                                <a href="{{ path(item.route) }}" data-panel="open">{{ font_icon(item.icon, 'fa-2x fa-fw') }}{{ item.name }}</a>
                            </li>
                        {% endfor %}
                    {% endfor %}
                    {% if toolbar|length > 1 %}
                        <li class="np_icons_next">
                            <a href="#" class="-np_next">{{ font_icon('chevron-right', 'fa-2x') }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div id="np_userbox" class="col-md-2">
                <p>{{ username }}</p>
                <ul id="np_usernav">
                    <li><a href="{{ path('admin_user', {username: username }) }}">Account</a></li>
                    <li><a href="{# path('admin_logout') #}">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="np_panel_container" class="container np_hide">{# ajax inserts panels here #}</div>
    <a id="np_menu_toggle" href="#">{{ font_icon('caret-down', 'fa-2x') }}</a>
</div>

{# TODO: see old version for how stylesheets and js are imported using a helper, or use theme config to output them #}
<link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'/>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
<link href="/themes/np-admin/css/np_admin.css" rel="stylesheet"/>
<script data-main="/themes/np-admin/js/npMain" src="/themes/np-admin/js/lib/require.js"></script>

{#######################################
    inline _underscore templates
########################################}

<script type="text/html" id="np_panel_loading_temp">
    {% include '@np-admin/panel_loading.twig' %}
</script>

<script type="text/html" id="np_panel_flash_temp">
    <div class="alert alert-<%= status %> -np_panel_flash">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
    </div>
</script>

{# import templates for block editing #}
{#
{% include '@np-admin/_block_types.twig' %}
{% include '@np-admin/_block_actions.twig' %}
#}

<!-- END of NodePub Toolbar -->