<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"> <!--<![endif]-->
<head>
    <title>{% block title %}{{ node.title|default('') }} | {{ site.title }}{% endblock %}</title>

    {% block ascii %}{% endblock %}

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ node.meta_description|default(site.description) }}">
    {% block meta %}{% endblock %}
    
    <!-- css -->
    {{ theme_styles() }}

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- icons -->
    {# theme_icons() #}
</head>

{# TODO:
   * Not crazy about "container_12" classes
   * Need theme_icons() function
#}

<body class="{{ body_class() }}">
    {# Each layout section has a block for its container,
       so that you can override or completely remove it from inherited themes #}
    {% block header_container %}
        <header id="hd">
            <div id="hd_inner" class="container_12">
                {# 'header' block can be overridden in inherited templates
                   to change columns and/or content while keeping the containing div in place #}
                {% block header %}
                    {% block site_name %}
                        <h1 id="site_name"><a href="/">{{ site.name }}</a></h1>
                    {% endblock %}
                    {% block site_tagline %}
                        <h2 id="site_tagline">{{ site.tagline }}</h2>
                    {% endblock %}
                    {% block main_menu_container %}
                        <nav id="main_menu">
                            {% block main_menu %}{% endblock %}
                        </nav>
                    {% endblock %}
                {% endblock %}
            </div>
        </header>
    {% endblock %}

    {% block body_container %}
        <div id="bd">
            <div id="bd_inner" class="container_12">
                {% block body %}
                    <div id="main" role="main">
                        {% block page_title %}{% endblock %}
                        {% block main %}{% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block footer_container %}
        <footer id="ft">
            <div id="ft_inner" class="container_12">
                {% block footer %}{% endblock %}
            </div>
        </footer>
    {% endblock %}

    <!-- javascript -->
    {% block javascripts %}
        {% include '@default/_google_analytics.twig' %}
        {% include '@default/_jquery.twig' %}
        {{ theme_javascripts() }}
    {% endblock %}
</body>
</html>